.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
}

.modal h2 {
  margin-top: 0;
}

#create-ticket-form label {
  display: block;
  margin-bottom: 10px;
}

#create-ticket-form input,
#create-ticket-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

#create-ticket-form button[type='submit'] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#create-ticket-form button[type='submit']:hover {
  background-color: #3e8e41;
}
